{% extends 'base.html' %}

{% block content %}
<div class="grid">
  <form class="form--login card card--container" action="." method="post" novalidate>
    {% for error in form.non_field_errors %}
    <div class="input__error">
      {{ error | striptags }}
    </div>
    {% endfor %}

    {% csrf_token %}

    <label for="{{ form.username.id_for_label }}">Username</label>
    <input type="text" name="username" id="{{ form.username.id_for_label }}"
      value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
      aria-describedby="{{ form.username.id_for_label }}-error" />
      {% for error in form.username.errors %}
      <div class="input__error" id="{{ form.username.id_for_label }}-error">
        {{ error | striptags }}
      </div>
      {% endfor %}

    <label for="{{ form.password.id_for_label }}">Password</label>
    <input name="password" id="{{ form.password.id_for_label }}" type="password"
      value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
      aria-describedby="{{ form.username.id_for_label }}-error" />
      {% for error in form.password.errors %}
      <div class="input__error" id="{{ form.username.id_for_label }}-error">
        {{ error | striptags }}
      </div>
      {% endfor %}
    <button type="submit" class="btn btn--sm btn--orange mt-10">Sign In</button>
  </form>
</div>

{% endblock %}
