{% block content %}

<p>{{ rightsshell.pk }} </p>
<p>{{ rightsshell.rights_basis }} </p>
<p>{{ rightsshell.copyright_status }} </p>
<p>{{ rightsshell.determination_date }} </p>
<p>{{ rightsshell.note }} </p>
<p>{{ rightsshell.applicable_start_date }} </p>
<p>{{ rightsshell.applicable_end_date }} </p>
<p>{{ rightsshell.start_date_period }} </p>
<p>{{ rightsshell.end_date_period }} </p>
<p>{{ rightsshell.end_date_open }} </p>
<p>{{ rightsshell.license_terms }} </p>
<p>{{ rightsshell.statute_citation }} </p>

{% endblock %}




