DJANGO_SECRET_KEY = 'ny033+z#r)$cpjl9gnbi*v=p8rjl2(%3-f&*v(mhi4#^eur9u8'
DJANGO_DEBUG = True
DJANGO_ALLOWED_HOSTS = ['localhost', 'aquila-web']
SQL_ENGINE = 'django.db.backends.postgresql'
SQL_DATABASE = 'postgres'
SQL_USER = 'postgres'
SQL_PASSWORD = 'postgres'
SQL_HOST = 'aquila-db'
SQL_PORT = 5432
SSO_RELYING_PARTY_ID = "http://aquila-web:8009"
SSO_CLIENT_ID = "487d8ff5-80b8-4f62-b926-c2842ab06e94"
SSO_AUDIENCE = "microsoft:identityserver:http://aquila-web:8009"
LOGIN_URL = "login"
SUPERUSER_USERNAME = "test"
SUPERUSER_EMAIL = "test@example.com"
MTM_ID = 'https://cdn.matomo.cloud/rockarch.matomo.cloud/container_xxxxxxxx.js'
