<div class="form-group">{{ form.dates.rights_begin.label_tag }}*{{ form.dates.rights_begin }}</div>
{% if form.dates.rights_begin.errors %}<div class="input__error">{{ form.dates.rights_begin.errors }}</div>{% endif %}
<div v-if="rightsBegin=='start_date'" class="form-group">
  {{ form.dates.start_date.label_tag }}{{ form.dates.start_date }}
</div>
{% if form.dates.start_date.errors %}<div class="input__error">{{ form.dates.start_date.errors }}</div>{% endif %}

<div v-if="rightsBegin=='start_date_period_zero'">
  <input type="text" name="start_date_period" id="id_start_date_period" value="0" hidden>
</div>

<div v-if="rightsBegin=='start_date_period'" class="form-group">
  {{ form.dates.start_date_period.label_tag }}*{{ form.dates.start_date_period }}
  {% if form.start_date_period.errors %}<div class="input__error">{{ form.start_date_period.errors }}</div>{% endif %}
</div>

<div class="form-group">{{ form.dates.rights_end.label_tag }}*{{ form.dates.rights_end }}</div>
{% if form.dates.rights_end.errors %}<div class="input__error">{{ form.dates.rights_end.errors }}</div>{% endif %}
<div v-if="rightsEnd=='end_date'" class="form-group">
  {{ form.dates.end_date.label_tag }}*{{ form.dates.end_date }}
</div>
{% if form.dates.end_date.errors %}<div class="input__error">{{ form.dates.end_date.errors }}</div>{% endif %}
<div v-if="rightsEnd=='end_date_period'" class="form-group">
  {{ form.dates.end_date_period.label_tag }}*{{ form.dates.end_date_period }}
</div>
{% if form.dates.end_date_period.errors %}<div class="input__error">{{ form.dates.end_date_period.errors }}</div>{% endif %}
<div v-if="rightsEnd=='end_date_open'">
  {{ form.dates.end_date_open }}
</div>

<div class="form-group">
  {{ form.basis_note.label_tag }}*{{ form.basis_note }}
</div>
{% if form.basis_note.errors %}<div class="input__error">{{ form.basis_note.errors }}</div>{% endif %}


