{% extends 'base.html' %}
{% load utils %}

{% block content %}

<small>Created on {{ object.created }}</small><br/>
<small>Last modified on {{ object.last_modified }}</small>

<p>{{ object.description }}</p>

<h2>Associated Rights Statements</h2>
<ul>
  {% for rights in object.rights_shells.all %}<li>{{rights}}</li>{% endfor %}
</ul>

{% if request.user|has_group:"edit" %}
<a class="btn btn-warning" href="{% url 'groupings-update' pk=object.pk %}">Edit</a>
{% endif %}
{% if request.user|has_group:"delete" %}
<a class="btn btn-danger" href="{% url 'groupings-delete' pk=object.pk %}">Delete</a>
{% endif %}
{% endblock %}
