{% extends 'base.html' %}
{% load utils %}

{% block header_button %}
  {% if request.user|has_group:"edit" %}
  <a class="btn btn--md btn--blue" href="{% url 'groupings-create' %}">Create new grouping</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Associated Rights Statements</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td><a href="{% url 'groupings-detail' pk=object.pk %}">{{ object.title  }}</a></td>
      <td>{{ object.description | linebreaks }}</td>
      <td>{% for rights in object.rights_shells.all %}{{rights}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
