/* Improve primary color contrast */

.btn-primary {
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-primary:hover {
    background-color: #004FA3;
    border-color: #004FA3;
}

.content a {
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}


.rights-granted__checkbox {
  margin-top: 2.5rem;
}
