{% extends 'base.html' %}
{% load has_group %}

{% block content %}

<small>Created on {{ rightsshell.created }}</small><br/>
<small>Last modified on {{ rightsshell.last_modified }}</small>

<dl class="row">
  <dt class="col-sm-3">ID</dt>
  <dd class="col-sm-3">{{ rightsshell.pk }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Basis</dt>
  <dd class="col-sm-3">{{ rightsshell.rights_basis }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Copyright Status</dt>
  <dd class="col-sm-3">{{ rightsshell.copyright_status }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Determination Date</dt>
  <dd class="col-sm-3">{{ rightsshell.determination_date }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Note</dt>
  <dd class="col-sm-3">{{ rightsshell.note }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Start Date</dt>
  <dd class="col-sm-3">{{ rightsshell.start_date }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">End Date</dt>
  <dd class="col-sm-3">{{ rightsshell.end_date }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Start Date Period</dt>
  <dd class="col-sm-3">{{ rightsshell.start_date_period }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">End Date Period</dt>
  <dd class="col-sm-3">{{ rightsshell.end_date_period }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Open End Date</dt>
  <dd class="col-sm-3">{{ rightsshell.end_date_open }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">License Terms</dt>
  <dd class="col-sm-3">{{ rightsshell.license_terms }}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Statute Citation</dt>
  <dd class="col-sm-3">{{ rightsshell.statute_citation }}</dd>
</dl>

{% for acts in rightsshell.rightsgranted_set.all %}
<dl class="row">
  <dt class="col-sm-3">Act</dt>
  <dd class="col-sm-3">{{acts.act}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Restriction</dt>
  <dd class="col-sm-3">{{acts.restriction}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act Note</dt>
  <dd class="col-sm-3">{{acts.note}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act Start Date</dt>
  <dd class="col-sm-3">{{acts.start_date}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act End Date</dt>
  <dd class="col-sm-3">{{acts.end_date}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act Start Date Period</dt>
  <dd class="col-sm-3">{{acts.start_date_period}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act End Date Period</dt>
  <dd class="col-sm-3">{{acts.end_date_period}}</dd>
</dl>
<dl class="row">
  <dt class="col-sm-3">Act Open End Date</dt>
  <dd class="col-sm-3">{{acts.end_date_open}}</dd>
</dl>
{% endfor %}

{% if request.user|has_group:"edit" %}
<a class="btn btn-warning" href="{% url 'rights-update' pk=object.pk %}">Edit</a>
{% endif %}

{% endblock %}
