{% extends 'base.html' %}
{% load utils %}

{% block content %}
<div class="mb-20">
  Created {{ rightsshell.created }}, last modified {{ rightsshell.last_modified }}
</div>

<div class="grid">
  <div class="rights-details">
    <h2>Details</h2>
    {% if rightsshell.basis_note %}
    <p>{{ rightsshell.basis_note }}</p>
    {% endif %}

    <dl class="summary-list">
      <div class="summary-list__row">
        <dt class="summary-list__key">Identifier</dt>
        <dd class="summary-list__value">{{ rightsshell.pk }}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">Basis</dt>
        <dd class="summary-list__value">{{ rightsshell.rights_basis }}</dd>
      </div>
      {% if rightsshell.get_rights_basis_display == "Copyright" %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Copyright Status</dt>
        <dd class="summary-list__value">{{ rightsshell.copyright_status }}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">Jurisdiction</dt>
        <dd class="summary-list__value">{{ rightsshell.jurisdiction }}</dd>
      </div>
      {% elif rightsshell.get_rights_basis_display == "License" %}
      <div class="summary-list__row">
        <dt class="summary-list__key">License Terms</dt>
        <dd class="summary-list__value">{{ rightsshell.license_terms }}</dd>
      </div>
      {% elif rightsshell.get_rights_basis_display == "Statute" %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Statute Citation</dt>
        <dd class="summary-list__value">{{ rightsshell.statute_citation }}</dd>
      </div>
      <div class="summary-list__row">
        <dt class="summary-list__key">Jurisdiction</dt>
        <dd class="summary-list__value">{{ rightsshell.jurisdiction }}</dd>
      </div>
      {% endif %}
      {% if rightsshell.start_date %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Start Date</dt>
        <dd class="summary-list__value">{{ rightsshell.start_date }}</dd>
      </div>
      {% endif %}
      {% if rightsshell.start_date_period %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Start Date Embargo Period (in years)</dt>
        <dd class="summary-list__value">{{ rightsshell.start_date_period }}</dd>
      </div>
      {% endif %}
      {% if rightsshell.start_date_period == 0 %}
      <div class="summary-list__row">
        <dt class="summary-list__key">Start Date</dt>
        <dd class="summary-list__value">Date of creation of materials</dd>
      </div>
      {% endif %}
      {% if rightsshell.end_date %}
      <div class="summary-list__row">
        <dt class="summary-list__key">End Date</dt>
        <dd class="summary-list__value">{{ rightsshell.end_date }}</dd>
      </div>
      {% endif %}
      {% if rightsshell.end_date_open %}
      <div class="summary-list__row"></div>
        <dt class="summary-list__key">End Date Open?</dt>
        <dd class="summary-list__value">{{ rightsshell.end_date_open }}</dd>
      </dl>
      {% endif %}
      {% if rightsshell.end_date_period %}
      <div class="summary-list__row">
        <dt class="summary-list__key">End Date Embargo Period (in years)</dt>
        <dd class="summary-list__value">{{ rightsshell.end_date_period }}</dd>
      </div>
      {% endif %}
    </dl>

    {% if rightsshell.rightsgranted_set.all %}
    <h2>Rights Granted</h2>

    {% for rights_granted in rightsshell.rightsgranted_set.all %}
    <div class="card mb-10">
      <div class="card-body">
        <h3 class="card__title">{{rights_granted}}</h3>
        {% if rights_granted.granted_note %}
        <p>{{rights_granted.granted_note}}</p>
        {% endif %}
        <dl class="summary-list">
          {% if rights_granted.start_date %}
          <div class="summary-list__row">
            <dt class="summary-list__key">Start Date</dt>
            <dd class="summary-list__value">{{rights_granted.start_date}}</dd>
          </div>
          {% endif %}
          {% if rights_granted.start_date_period %}
          <div class="summary-list__row">
            <dt class="summary-list__key">Start Date Embargo Period (in years)</dt>
            <dd class="summary-list__value">{{rights_granted.start_date_period}}</dd>
          </div>
          {% endif %}
          {% if rights_granted.start_date_period == 0 %}
          <div class="summary-list__row">
            <dt class="summary-list__key">Start Date</dt>
            <dd class="summary-list__value">Date of creation of materials</dd>
          </div>
          {% endif %}
          {% if rights_granted.end_date %}
          <div class="summary-list__row">
            <dt class="summary-list__key">End Date</dt>
            <dd class="summary-list__value">{{rights_granted.end_date}}</dd>
          </div>
          {% endif %}
          {% if rights_granted.end_date_open %}
          <div class="summary-list__row">
            <dt class="summary-list__key">End Date Open?</dt>
            <dd class="summary-list__value">{{rights_granted.end_date_open}}</dd>
          </div>
          {% endif %}
          {% if rights_granted.end_date_period %}
          <div class="summary-list__row">
            <dt class="summary-list__key">End Date Embargo Period (in years)</dt>
            <dd class="summary-list__value">{{rights_granted.end_date_period}}</dd>
          </div>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if request.user|has_group:"edit" %}
<a class="btn btn--sm btn--blue" href="{% url 'rights-update' pk=object.pk %}">Edit</a>
{% endif %}
{% if request.user|has_group:"delete" %}
<a class="btn btn--sm btn--orange" href="{% url 'rights-delete' pk=object.pk %}">Delete</a>
{% endif %}

{% endblock %}
