{% extends 'base.html' %}
{% load has_group %}

{% block header_button %}
  {% if request.user|has_group:"edit" %}
  <a class="btn btn-primary mt-2 float-right" href="{% url 'rights-create' %}">Create new rights shell</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Basis</th>
      <th scope="col">Note</th>
      <th scope="col">Rights Granted or Restricted</th>
    </tr>
  </thead>
  <tbody>
    {% for rightsshell in object_list %}
    <tr>
      <td><a href=' {{ rightsshell.get_absolute_url }}'>{{ rightsshell.pk }}</a></td>
      <td>{{ rightsshell.rights_basis }}</td>
      <td>{{ rightsshell.note }}</td>
      <td>{% for rights_granted in rightsshell.rightsgranted_set.all %}{{rights_granted}}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
