{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class="mb-3" action="." method="POST" accept-charset="utf-8" id="vue-form">
    {% csrf_token %}
    <div class="form-group">
		<label for="id_rights_basis">Rights Basis</label>
		{{ form.rights_basis }}
	</div>
    <div v-if="selected==copyright">
        <div class="form-group"><label for="id_copyright_status">Copyright Status</label>{{ form.copyright_status }}</div>
        <div class="form-group"><label for="id_determination_date">Determination Date</label>{{ form.determination_date }}</div>
        <div class="form-group"><label for="id_note">Note</label>{{ form.note }}</div>
        <div class="form-group"><label for="id_start_date">Start Date</label>{{ form.start_date }}</div>
        <div class="form-group"><label for="id_end_date">End Date</label>{{ form.end_date }}</div>
        <div class="form-group"><label for="id_start_date_period">Start Date Period</label>{{ form.start_date_period }}</div>
        <div class="form-group"><label for="id_rights_basis_period">Rights Basis Period</label>{{ form.rights_basis_period }}</div>
        <div class="form-group"><label for="id_end_date_open">End Date Open</label>{{ form.end_date_open }}</div>
    </div>
    <div v-if="selected==statute">
        <div class="form-group"><label for="id_statute_citation">Statute Citation</label>{{ form.statute_citation }}</div>
        <div class="form-group"><label for="id_determination_date">Determination Date</label>{{ form.determination_date }}</div>
        <div class="form-group"><label for="id_note">Note</label>{{ form.note }}</div>
        <div class="form-group"><label for="id_start_date">Start Date</label>{{ form.start_date }}</div>
        <div class="form-group"><label for="id_end_date">End Date</label>{{ form.end_date }}</div>
        <div class="form-group"><label for="id_start_date_period">start_date Period</label>{{ form.start_date_period }}</div>
        <div class="form-group"><label for="id_rights_basis_period">rights_basis Period</label>{{ form.rights_basis_period }}</div>
        <div class="form-group"><label for="id_end_date_open">end_date Open</label>{{ form.end_date_open }}</div>
    </div>
    <div v-if="selected==license">
        <div class="form-group"><label for="id_license_terms">License Terms</label>{{ form.license_terms }}</div>
        <div class="form-group"><label for="id_note">Note</label>{{ form.note }}</div>
        <div class="form-group"><label for="id_start_date">Start Date</label>{{ form.start_date }}</div>
        <div class="form-group"><label for="id_end_date">End Date</label>{{ form.end_date }}</div>
        <div class="form-group"><label for="id_start_date_period">start_date Period</label>{{ form.start_date_period }}</div>
        <div class="form-group"><label for="id_rights_basis_period">rights_basis Period</label>{{ form.rights_basis_period }}</div>
        <div class="form-group"><label for="id_end_date_open">end_date Open</label>{{ form.end_date_open }}</div>
    </div>
    <div v-if="selected==other">
        <div class="form-group"><label for="id_note">Note</label>{{ form.note }}</div>
        <div class="form-group"><label for="id_start_date">Start Date</label>{{ form.start_date }}</div>
        <div class="form-group"><label for="id_end_date">End Date</label>{{ form.end_date }}</div>
        <div class="form-group"><label for="id_start_date_period">start_date Period</label>{{ form.start_date_period }}</div>
        <div class="form-group"><label for="id_rights_basis_period">rights_basis Period</label>{{ form.rights_basis_period }}</div>
        <div class="form-group"><label for="id_end_date_open">end_date Open</label>{{ form.end_date_open }}</div>
    </div>
    <h2>Rights Granted</h2>

    {{ rights_granted_form.management_form }}
    {{ rights_granted_form | crispy}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script type="text/javascript">
  let app = new Vue({
    el: "#vue-form",
    data: {
      selected: '',
        copyright: 'Copyright',
        statute: 'Statute',
        license: 'License',
        other: 'Other',
    },
  });
</script>
{% endblock %}
