{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form class="mb-3" action="." method="POST" accept-charset="utf-8" id="vue-form">
    {% csrf_token %}
    <div>
		{{ form.rights_basis | as_crispy_field }}
	</div>
    <div v-if="selected==copyright">
        <div>{{ form.copyright_status | as_crispy_field }}</div>
        <div>{{ form.determination_date | as_crispy_field }}</div>
        <div>{{ form.note | as_crispy_field }}</div>
        <div>{{ form.start_date | as_crispy_field }}</div>
        <div>{{ form.end_date | as_crispy_field }}</div>
        <div>{{ form.start_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_open | as_crispy_field }}</div>
    </div>
    <div v-if="selected==statute">
        <div>{{ form.statute_citation | as_crispy_field }}</div>
        <div>{{ form.determination_date | as_crispy_field }}</div>
        <div>{{ form.note | as_crispy_field }}</div>
        <div>{{ form.start_date | as_crispy_field }}</div>
        <div>{{ form.end_date | as_crispy_field }}</div>
        <div>{{ form.start_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_open | as_crispy_field }}</div>
    </div>
    <div v-if="selected==license">
        <div>{{ form.license_terms | as_crispy_field }}</div>
        <div>{{ form.note | as_crispy_field }}</div>
        <div>{{ form.start_date | as_crispy_field }}</div>
        <div>{{ form.end_date | as_crispy_field }}</div>
        <div>{{ form.start_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_open | as_crispy_field }}</div>
    </div>
    <div v-if="selected==other">
        <div>{{ form.note | as_crispy_field }}</div>
        <div>{{ form.start_date | as_crispy_field }}</div>
        <div>{{ form.end_date | as_crispy_field }}</div>
        <div>{{ form.start_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_period | as_crispy_field }}</div>
        <div>{{ form.end_date_open | as_crispy_field }}</div>
    </div>
    <h2>Rights Granted</h2>

    {{ rights_granted_form.management_form }}
    {{ rights_granted_form | crispy}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script type="text/javascript">
  let app = new Vue({
    el: "#vue-form",
    data: {
      selected: '',
        copyright: 'Copyright',
        statute: 'Statute',
        license: 'License',
        other: 'Other',
    },
  });
</script>
{% endblock %}
