<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% include 'head.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <a href="#main" class="skip-link visually-hidden">Jump directly to main content</a>
    <div class="wrapper">

      {% include 'navbar.html' %}

      <div class="content-wrapper container">

        <!-- Main content -->
        <main id="main" class="content">
          <div class="row">
            <div class="col-sm">
              <h1 class="float-left">{% block h1_title %}{{page_title}}{% endblock %}</h1>
              {% block header_button %}{% endblock %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              {% block content %}{% endblock %}
            </div>
          </div>
        </main>

      </div>
    </div>

    {% include 'scripts.html' %}
    {% block extra_js %}{% endblock %}

  </body>
</html>
