{% extends 'base.html' %}
{% load utils %}

{% block content %}
<p class="lead">Browse, create and manage record groupings and rights statement shells.</p>
<div class="row mb-3">
  <div class="col">
    <div class="card full-height">
      <div class="card-body d-flex flex-column">
        <h2>Groupings</h2>
        <p>
          Aggregations of records with the same rights statuses. Groupings don't
          necessarily equate to record groups, and are not required to be from
          the same source.
        </p><a class="btn btn-secondary btn-block" href="{% url 'groupings-list' %}">Browse groupings</a>
        <a class="btn btn-primary btn-block " href="{% url 'groupings-create' %}">Create a new grouping</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card full-height">
      <div class="card-body d-flex flex-column">
        <h2>Rights Statements</h2>
        <p>Structured, machine-actionable statements of what can or can't be done with a group of records.</p>
        <a class="btn btn-secondary btn-block" href="{% url 'rights-list' %}">Browse rights statements</a>
        <a class="btn btn-primary btn-block" href="{% url 'rights-create' %}">Create a new rights statement</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
